In [2]:
import mysql.connector

# Establish a connection
cnx = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="pythondb"
)

# Create a cursor object
cursorObject = cnx.cursor()


# Execute a query
try:
    cursorObject.execute("CREATE DATABASE IF NOT EXISTS pythondb")
    cursorObject.execute("CREATE TABLE IF NOT EXISTS pythontb (name VARCHAR(255), address VARCHAR(255))")
    sql = "INSERT INTO pythontb (name, address) VALUES (%s, %s)"
    val = ("John", "Highway 21")
    cursorObject.execute(sql, val)
    cnx.commit()
    
    cursorObject.execute("SELECT * FROM pythontb")
    
    for row in cursorObject.fetchall():
        print(row)
except mysql.connector.Error as err:
    print(f"Error: {err}")
finally:
    # Close the cursor and connection
    if cursorObject:
        cursorObject.close()
    if cnx:
        cnx.close()

AttributeError: 'CMySQLCursor' object has no attribute 'commit'